<div id="carouselExampleControls" class="carousel slide border-top" data-ride="carousel">
  <div class="carousel-inner mt-3">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <img src="assets/KENTEC02.png" id="logo" style="width: 150px;" alt="KENTEC"/>
      </div>
    </div>
    <div class="carousel-item">
      <div style="font-weight: bold;">
        <span class="d-flex justify-content-center">PARA INFORMAÇOES DA EMPRESA:</span><br/>
      </div>
    </div>
    <div class="carousel-item">
      <div style="font-weight: bold;">
        <span class="d-flex justify-content-center">PARA INFORMAÇOES DA EMPRESA:</span><br/>
      </div>
    </div>
    <div class="carousel-item">
      <div style="font-weight: bold;">
        <span class="d-flex justify-content-center mb-3">Para Informções Úteis:</span>
        <span class="d-flex justify-content-center mb-2">{{ titulo }}</span>
        <span class="d-flex justify-content-center">{{ mensagem }}</span>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


